<div class="auth-form">
  <h1>SignUp</h1>
  <form>
    <div class="example-container">
      <mat-form-field class="mb">
        <input
          matInput
          type="text"
          class="form-control"
          placeholder="Email"
          #userEmail
          required
          autofocus
        />
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field class="mb">
        <input
          matInput
          type="password"
          class="form-control"
          placeholder="Password"
          #userPassword
          required
        />
      </mat-form-field>
    </div>
    <small class="mt">
      Already registered? <a [routerLink]="['/login']">Login here</a>
    </small>
    <br />
    <button
      mat-button
      class="btn mt"
      (click)="authService.signup(userEmail.value, userPassword.value)"
    >
      SignUp
    </button>
  </form>
</div>
